USE [master]
GO
/****** Object:  Database [DbCustomer]    Script Date: 20.06.2026 17:52:17 ******/
CREATE DATABASE [DbCustomer]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DbCustomer', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DbCustomer.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbCustomer_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DbCustomer_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbCustomer].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbCustomer]
GO
/****** Object:  Table [dbo].[TblCity]    Script Date: 20.06.2026 17:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCity](
	[CityId] [int] IDENTITY(1,1) NOT NULL,
	[CityName] [nvarchar](100) NULL,
	[CityCountry] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TblCustomer]    Script Date: 20.06.2026 17:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TblCustomer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [nvarchar](50) NULL,
	[CustomerSurname] [nvarchar](50) NULL,
	[CustomerBalance] [decimal](18, 2) NULL,
	[CustomerStatus] [bit] NULL,
	[CustomerCity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TblCustomer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_City] FOREIGN KEY([CustomerCity])
REFERENCES [dbo].[TblCity] ([CityId])
GO
ALTER TABLE [dbo].[TblCustomer] CHECK CONSTRAINT [FK_Customer_City]
GO
/****** Object:  StoredProcedure [dbo].[CustomerListWithCity]    Script Date: 20.06.2026 17:52:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CustomerListWithCity]
AS
BEGIN
    SELECT 
        c.CustomerId,
        c.CustomerName,
        c.CustomerSurname,
        c.CustomerBalance,
        c.CustomerStatus,
        ct.CityName
    FROM dbo.TblCustomer c
    INNER JOIN dbo.TblCity ct ON c.CustomerCity = ct.CityId;
END;
GO
USE [master]
GO
